* {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  outline: none;
}

body {
  font-family: "Noto Sans KR", "Poppins", sans-serif;
  word-break: keep-all;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrap {
  position: relative;
}
.wrap .header_wrap {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 12;
}
.wrap .header_wrap .header_inner {
  width: 100%;
  height: 100px;
  position: relative;
}
.wrap .header_wrap .header_inner .lang {
  z-index: 12;
  color: #999;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 130px;
  width: 88px;
  height: 33px;
  border: 1px solid #ddd;
  border-radius: 16px;
}
.wrap .header_wrap .header_inner .lang span {
  font-size: 14px;
  position: absolute;
  top: 50%;
  width: 100%;
  padding-left: 15px;
  transform: translateY(-50%);
}
.wrap .header_wrap .header_inner .lang span::before {
  content: "";
  background: url("../images/layout/arrow.png");
  width: 9px;
  height: 6px;
  transform: translateY(50%);
  position: absolute;
  right: 20px;
}
.wrap .header_wrap .header_inner .btnAll {
  z-index: 11;
  width: 101px;
  height: 102px;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
.wrap .header_wrap .header_inner .btnAll .btnSize {
  position: absolute;
  height: 100px;
  width: 100px;
  right: 0;
  top: 0;
  cursor: pointer;
}
.wrap .header_wrap .header_inner .btnAll .btnSize span {
  display: flex;
  width: 33px;
  height: 2px;
  background: #1a4299;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.25s ease;
}
.wrap .header_wrap .header_inner .btnAll .btnSize span:nth-child(1) {
  top: 42px;
}
.wrap .header_wrap .header_inner .btnAll .btnSize span:nth-child(2) {
  top: 50px;
}
.wrap .header_wrap .header_inner .btnAll .btnSize span:nth-child(3) {
  top: 58px;
}
.wrap .header_wrap .header_inner .btnAll .btnSize.on span {
  left: 35%;
}
.wrap .header_wrap .header_inner .btnAll .btnSize.on span:nth-child(1) {
  top: 50px;
  transform: rotate(-45deg);
}
.wrap .header_wrap .header_inner .btnAll .btnSize.on span:nth-child(2) {
  right: -100px;
  opacity: 0;
}
.wrap .header_wrap .header_inner .btnAll .btnSize.on span:nth-child(3) {
  top: 50px;
  transform: rotate(45deg);
}
.wrap .header_wrap .header_inner #logo {
  z-index: 1;
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  left: 100px;
}
.wrap .header_wrap .header_inner #logo img {
  width: clamp(130px, 8.3vw, 160px);
}
.wrap .header_wrap .header_inner #gnb {
  width: 100%;
  height: 100%;
  position: relative;
  background: #fff;
}
.wrap .header_wrap .header_inner #gnb .list {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrap .header_wrap .header_inner #gnb .list li .depth01 {
  font-size: 20px;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 80px;
  font-weight: 400;
}
.wrap .header_wrap .header_inner #gnb .list li .depth01:hover {
  color: #1a4299;
}
.wrap .header_wrap .header_inner #gnb .list li .depth02 {
  z-index: 100;
  color: #95aad8;
  opacity: 0;
  background-color: #1a4299;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  font-weight: 300;
  height: 0px;
  transition: all 0.25s ease-in-out;
}
.wrap .header_wrap .header_inner #gnb .list li .depth02 li {
  padding-left: 40px;
}
.wrap .header_wrap .header_inner #gnb .list li .depth02 li:hover {
  color: #fff;
}
.wrap .header_wrap .header_inner #gnb .list li .depth02.on {
  z-index: 10000;
  opacity: 1;
  height: 60px;
  position: absolute;
}
.wrap .header_wrap .header_inner #menuAll {
  z-index: 1;
  opacity: 0;
  width: 0vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.5s ease-in-out;
}
.wrap .header_wrap .header_inner #menuAll .listMenu {
  opacity: 0;
  width: 0;
  height: 100%;
  background: #fff;
  position: absolute;
  right: 0;
  top: 0;
}
.wrap .header_wrap .header_inner #menuAll .listMenu::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  top: 101px;
  background: #ddd;
  position: absolute;
}
.wrap .header_wrap .header_inner #menuAll .listMenu::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  top: 0;
  right: 100px;
  background: #ddd;
  position: absolute;
}
.wrap .header_wrap .header_inner #menuAll .listMenu > ul {
  width: calc(100% - 200px);
  margin: 100px auto 0;
  height: 100%;
}
.wrap .header_wrap .header_inner #menuAll .listMenu > ul > li {
  margin-top: 65px;
  display: inline-block;
  float: left;
  width: 33.33%;
}
.wrap .header_wrap .header_inner #menuAll .listMenu > ul > li .depth01 {
  color: #333;
  font-size: 26px;
  font-weight: 500;
}
.wrap .header_wrap .header_inner #menuAll .listMenu > ul > li .depth01:hover {
  color: #1a4299;
}
.wrap .header_wrap .header_inner #menuAll .listMenu > ul > li .depth02 {
  height: 300px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.wrap .header_wrap .header_inner #menuAll .listMenu > ul > li .depth02 > li {
  padding-bottom: 20px;
  padding-left: 20px;
  position: relative;
}
.wrap .header_wrap .header_inner #menuAll .listMenu > ul > li .depth02 > li:last-child {
  padding-bottom: 0px;
}
.wrap .header_wrap .header_inner #menuAll .listMenu > ul > li .depth02 > li::after {
  content: "";
  display: flex;
  width: 1px;
  height: 100%;
  left: 0;
  top: 0;
  right: 100px;
  background: #ddd;
  position: absolute;
}
.wrap .header_wrap .header_inner #menuAll .listMenu > ul > li .depth02 > li > a {
  position: relative;
  line-height: 1.3;
  font-size: 16px;
  color: #666;
  display: inline-block;
  font-weight: 300;
}
.wrap .header_wrap .header_inner #menuAll .listMenu > ul > li .depth02 > li > a::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #1a4299;
  position: absolute;
  bottom: -4px;
  left: 0;
  display: block;
  -webkit-transition: all 0.6s cubic-bezier(0, 0.39, 0.35, 0.99);
  transition: all 0.6s cubic-bezier(0, 0.39, 0.35, 0.99);
}
.wrap .header_wrap .header_inner #menuAll .listMenu > ul > li .depth02 > li > a:hover {
  color: #1a4299;
}
.wrap .header_wrap .header_inner #menuAll .listMenu > ul > li .depth02 > li > a:hover::after {
  width: 100%;
  transition: all 0.6s cubic-bezier(0, 0.39, 0.35, 0.99);
}
.wrap .header_wrap .header_inner #menuAll.open {
  width: 100vw;
  opacity: 1;
}
.wrap .header_wrap .header_inner #menuAll.open .listMenu {
  z-index: 5;
  transition: 0.5s ease-in-out;
  width: clamp(80%, 6vw, 43%);
  opacity: 1;
}

@media all and (max-width: 1260px) {
  .wrap .header_wrap .header_inner #menuAll .listMenu > ul {
    position: relative;
    margin: 150px 50px 0;
  }
  .wrap .header_wrap .header_inner #menuAll .listMenu > ul > li {
    margin-top: 50px;
    display: block;
    float: none;
    width: 100%;
  }
  .wrap .header_wrap .header_inner #menuAll .listMenu > ul > li .depth02 {
    top: 0;
    margin-top: 0;
    margin-left: 120px;
    position: absolute;
    display: none;
    height: 100%;
  }
  .wrap .header_wrap .header_inner #menuAll .listMenu > ul > li .depth02.on {
    display: block;
  }
  .wrap .header_wrap .header_inner #menuAll .listMenu::before {
    top: 100px;
  }
  .wrap .header_wrap .header_inner #logo {
    left: 30px;
  }
  .wrap .header_wrap .header_inner .btnAll {
    height: 100px;
    border-bottom: 0px;
  }
  .wrap .header_wrap .header_inner .btnAll .btnSize.on span:nth-child(2) {
    display: none;
  }
  .wrap .header_wrap .header_inner .lang {
    display: none;
  }
  .wrap .header_wrap .header_inner #gnb .list {
    display: none;
  }
}
@media all and (max-width: 720px) {
  .wrap #main {
    padding-top: 80px !important;
  }
  .wrap .header_wrap {
    height: 80px;
  }
  .wrap .header_wrap .header_inner {
    height: 80px;
  }
  .wrap .header_wrap .header_inner .btnAll {
    width: 80px;
    height: 80px;
  }
  .wrap .header_wrap .header_inner .btnAll .btnSize {
    height: 80px;
    width: 80px;
  }
  .wrap .header_wrap .header_inner .btnAll .btnSize span {
    height: 3px;
  }
  .wrap .header_wrap .header_inner .btnAll .btnSize span:nth-child(1) {
    top: 29px;
  }
  .wrap .header_wrap .header_inner .btnAll .btnSize span:nth-child(2) {
    top: 39px;
  }
  .wrap .header_wrap .header_inner .btnAll .btnSize span:nth-child(3) {
    top: 49px;
  }
  .wrap .header_wrap .header_inner .btnAll .btnSize.on span {
    left: 30%;
  }
  .wrap .header_wrap .header_inner .btnAll .btnSize.on span:nth-child(1) {
    top: 38px;
  }
  .wrap .header_wrap .header_inner .btnAll .btnSize.on span:nth-child(3) {
    top: 39px;
  }
  .wrap .header_wrap .header_inner #menuAll .listMenu > ul {
    margin: 150px 40px 0;
  }
  .wrap .header_wrap .header_inner #menuAll .listMenu::before {
    top: 80px;
  }
  .wrap .header_wrap .header_inner #menuAll .listMenu::after {
    display: none;
  }
  .wrap .leftSpace {
    display: none;
  }
}