.clearfix:before,
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.section::after {
  content: "";
  border-top: 100px solid transparent;
  border-right: 100px solid #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.wrap {
  width: 100%;
  height: 100vh;
  position: relative;
}
.wrap #main {
  position: absolute;
  width: calc(100% - 200px);
  height: calc(100vh - 200px);
  margin: 100px 100px;
  overflow: hidden;
}
.wrap #main #introduce #mainVisual {
  height: 100%;
  position: relative;
}
.wrap #main #introduce #mainVisual li {
  position: relative;
  height: 100%;
}
.wrap #main #introduce #mainVisual li .img {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 5s ease 1s;
  transform: scale(1.2);
}
.wrap #main #introduce #mainVisual li#visual01 .img {
  background-image: url("../images/main/mainVisual01.jpg");
}
.wrap #main #introduce #mainVisual li#visual02 .img {
  background-image: url("../images/main/mainVisual02.jpg");
}
.wrap #main #introduce #mainVisual li#visual03 .img {
  background-image: url("../images/main/mainVisual03.jpg");
}
.wrap #main #introduce #mainVisual li.swiper-slide-active .img {
  transform: scale(1);
}
.wrap #main #introduce #mainVisual li .txtBox {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding-bottom: 80px;
}
.wrap #main #introduce #mainVisual li .txtBox span {
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 500;
  word-spacing: 3px;
}
.wrap #main #introduce #mainVisual li .txtBox h2 {
  margin-top: 10px;
  font-size: clamp(30px, 4.6vw, 50px);
  font-weight: 600;
  line-height: 1.3;
}
.wrap #main #introduce #mainVisual li .txtBox p {
  font-size: clamp(18px, 1vw, 16px);
  margin: 0 30px;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 15px;
  opacity: 0.7;
}
.wrap #main #introduce .dot {
  width: 100%;
  z-index: 21;
  display: flex;
  justify-content: center;
  bottom: 60px;
  position: absolute;
}
.wrap #main #introduce .dot .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  transform: skew(-30deg);
  background: #fff;
  border-radius: 0;
  opacity: 0.7;
  transition: all 0.25s ease;
  margin-left: 12px;
}
.wrap #main #introduce .dot .swiper-pagination-bullet-active {
  background: #ee2d23;
}
.wrap #main #businessArea {
  color: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}
.wrap #main #businessArea .titTxt {
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 100px 0 0 100px;
}
.wrap #main #businessArea .titTxt span {
  font-size: 16px;
  font-weight: 600;
  word-spacing: 10;
  font-family: "Poppins";
}
.wrap #main #businessArea .titTxt h2 {
  margin-top: 25px;
  font-size: clamp(30px, 5vw, 50px);
  font-weight: 500;
}
.wrap #main #businessArea .titTxt p {
  font-weight: 300;
  opacity: 0.8;
  margin-top: clamp(20px, 2vw, 40px);
  font-size: clamp(16px, 4vw, 20px);
  line-height: 1.4;
}
.wrap #main #businessArea .list {
  height: 100%;
}
.wrap #main #businessArea .list li {
  height: 100%;
}
.wrap #main #businessArea .list li .inner {
  z-index: 20 !important;
  position: absolute;
  display: flex;
  bottom: 140px;
  right: clamp(50px, 9vw, 250px);
}
.wrap #main #businessArea .list li .inner h2 {
  position: relative;
  font-size: clamp(20px, 2vw, 30px);
  font-weight: 500;
}
.wrap #main #businessArea .list li .inner h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  bottom: 10px;
}
.wrap #main #businessArea .list li .inner p {
  font-size: clamp(14px, 3vw, 20px);
  font-weight: 300;
  line-height: 1.4;
  padding-left: 60px;
}
.wrap #main #businessArea .list li .src {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 5s ease 1s;
}
.wrap #main #businessArea .list li#business01 .src {
  background-image: url("../images/main/business01.jpg");
}
.wrap #main #businessArea .list li#business02 .src {
  background-image: url("../images/main/business02.jpg");
}
.wrap #main #businessArea .list li#business03 .src {
  background-image: url("../images/main/business03.jpg");
}
.wrap #main #businessArea .list li#business04 .src {
  background-image: url("../images/main/business04.jpg");
}
.wrap #main #businessArea .list li.open::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(90deg, rgb(26, 66, 153) 0%, rgb(26, 66, 153) 20%, rgba(26, 66, 153, 0.8729866947) 45%, rgba(26, 66, 153, 0.4780287115) 74%, rgba(26, 66, 153, 0) 100%);
  animation: backgroundAnimation 1.2s reverse;
}
.wrap #main #businessArea .bullets {
  width: 100%;
  height: 100%;
  position: absolute;
}
.wrap #main #businessArea .bullets .areabtns {
  left: 100px;
  bottom: clamp(200px, 10vw, 250px);
  position: absolute;
  z-index: 21;
  width: 100%;
  height: 100%;
  background: none;
}
.wrap #main #businessArea .bullets .areabtns .swiper-pagination-bullet {
  margin-left: 15px;
  position: relative;
  display: inline-block;
  width: clamp(100px, 6.86vw, 120px);
  height: clamp(100px, 6.86vw, 120px);
  opacity: 1;
}
.wrap #main #businessArea .bullets .areabtns .swiper-pagination-bullet:nth-child(1) {
  margin-left: 0;
  border-radius: 0;
  background-image: url("../images/main/business_min_01.jpg");
  background-size: cover;
}
.wrap #main #businessArea .bullets .areabtns .swiper-pagination-bullet:nth-child(2) {
  border-radius: 0;
  background-image: url("../images/main/business_min_02.jpg");
  background-size: cover;
}
.wrap #main #businessArea .bullets .areabtns .swiper-pagination-bullet:nth-child(3) {
  border-radius: 0;
  background-image: url("../images/main/business_min_03.jpg");
  background-size: cover;
}
.wrap #main #businessArea .bullets .areabtns .swiper-pagination-bullet:nth-child(4) {
  border-radius: 0;
  background-image: url("../images/main/business_min_04.jpg");
  background-size: cover;
}
.wrap #main #businessArea .bullets .areabtns .swiper-pagination-bullet strong {
  text-align: center;
  position: absolute;
  font-size: 16px;
  font-weight: 300;
  top: clamp(120px, 10vw, 140px);
  left: 50%;
  transform: translateX(-50%);
}
.wrap #main #businessArea .bullets .areabtns .swiper-pagination-bullet-active {
  border: 5px solid #fff;
  box-sizing: margin-box;
  box-shadow: 5px 9px 30px 0px rgba(0, 0, 0, 0.6);
}
.wrap #main #productArea {
  color: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}
.wrap #main #productArea .titTxt {
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 100px 0 0 100px;
}
.wrap #main #productArea .titTxt span {
  font-size: 16px;
  font-weight: 600;
  word-spacing: 10;
  font-family: "Poppins";
}
.wrap #main #productArea .titTxt h2 {
  margin-top: 25px;
  font-size: clamp(30px, 5vw, 50px);
  font-weight: 500;
}
.wrap #main #productArea .titTxt p {
  font-weight: 300;
  opacity: 0.8;
  margin-top: clamp(20px, 2vw, 40px);
  font-size: clamp(16px, 4vw, 20px);
  line-height: 1.4;
}
.wrap #main #productArea .list {
  height: 100%;
}
.wrap #main #productArea .list li {
  height: 100%;
}
.wrap #main #productArea .list li .img {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 5s ease 1s;
}
.wrap #main #productArea .list li#product01 .img {
  background-image: url("../images/main/product01.jpg");
}
.wrap #main #productArea .list li#product02 .img {
  background-image: url("../images/main/product02.jpg");
}
.wrap #main #productArea .list li#product03 .img {
  background-image: url("../images/main/product03.jpg");
}
.wrap #main #productArea .list li#product04 .img {
  background-image: url("../images/main/product04.jpg");
}
.wrap #main #productArea .list li#product05 .img {
  background-image: url("../images/main/product05.jpg");
}
.wrap #main #productArea .list li .inner {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 140px;
  right: clamp(50px, 9vw, 250px);
}
.wrap #main #productArea .list li .inner h2 {
  position: relative;
  font-size: clamp(20px, 2vw, 30px);
  font-weight: 500;
}
.wrap #main #productArea .list li .inner h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  bottom: 10px;
}
.wrap #main #productArea .list li .inner p {
  font-size: clamp(14px, 3vw, 20px);
  font-weight: 300;
  line-height: 1.4;
  padding-left: 60px;
}
.wrap #main #productArea .list li.open::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(90deg, rgb(158, 122, 79) 0%, rgb(158, 122, 79) 20%, rgba(158, 122, 79, 0.8729866947) 45%, rgba(158, 122, 79, 0.4780287115) 74%, rgba(158, 122, 79, 0) 100%);
  animation: backgroundAnimation 1.2s reverse;
}
.wrap #main #productArea .bullets {
  width: 100%;
  height: 100%;
  position: absolute;
}
.wrap #main #productArea .bullets .areabtns {
  left: 100px;
  bottom: clamp(200px, 10vw, 250px);
  position: absolute;
  z-index: 21;
  width: 100%;
  height: 100%;
  background: none;
}
.wrap #main #productArea .bullets .areabtns .swiper-pagination-bullet {
  margin-left: 15px;
  position: relative;
  display: inline-block;
  width: clamp(100px, 6.86vw, 120px);
  height: clamp(100px, 6.86vw, 120px);
  opacity: 1;
}
.wrap #main #productArea .bullets .areabtns .swiper-pagination-bullet:nth-child(1) {
  margin-left: 0;
  border-radius: 0;
  background-image: url("../images/main/product01_min.jpg");
  background-size: cover;
}
.wrap #main #productArea .bullets .areabtns .swiper-pagination-bullet:nth-child(2) {
  border-radius: 0;
  background-image: url("../images/main/product02_min.jpg");
  background-size: cover;
}
.wrap #main #productArea .bullets .areabtns .swiper-pagination-bullet:nth-child(3) {
  border-radius: 0;
  background-image: url("../images/main/product03_min.jpg");
  background-size: cover;
}
.wrap #main #productArea .bullets .areabtns .swiper-pagination-bullet:nth-child(4) {
  border-radius: 0;
  background-image: url("../images/main/product04_min.jpg");
  background-size: cover;
}
.wrap #main #productArea .bullets .areabtns .swiper-pagination-bullet:nth-child(5) {
  border-radius: 0;
  background-image: url("../images/main/product05_min.jpg");
  background-size: cover;
}
.wrap #main #productArea .bullets .areabtns .swiper-pagination-bullet strong {
  text-align: center;
  position: absolute;
  font-size: 16px;
  font-weight: 300;
  top: clamp(120px, 10vw, 140px);
  left: 50%;
  transform: translateX(-50%);
}
.wrap #main #productArea .bullets .areabtns .swiper-pagination-bullet-active {
  border: 5px solid #fff;
  box-sizing: margin-box;
  box-shadow: 5px 9px 30px 0px rgba(0, 0, 0, 0.6);
}
.wrap #main #glassStroy {
  background: #f8f8f8;
  width: 100%;
  height: 100%;
  position: relative;
}
.wrap #main #glassStroy .textArea {
  z-index: 10;
  padding-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrap #main #glassStroy .textArea span {
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins";
  word-spacing: 2px;
}
.wrap #main #glassStroy .textArea h2 {
  font-size: clamp(30px, 8vw, 50px);
  font-weight: 600;
  margin-top: 20px;
}
.wrap #main #glassStroy .whiteLogo {
  z-index: -1;
  position: absolute;
  top: 0;
  left: -60px;
}
.wrap #main #glassStroy .whitetxt {
  z-index: 1;
  font-size: 150px;
  font-weight: 600;
  position: absolute;
  right: 50px;
  bottom: -15px;
}
.wrap #main #glassStroy .halfLayout {
  z-index: 10;
  margin-top: 90px;
  width: calc(100% - 200px);
  left: 50%;
  transform: translateX(-50%);
  height: calc(100% - 340px);
  position: absolute;
}
.wrap #main #glassStroy .halfLayout .storyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 100px;
}
.wrap #main #glassStroy .halfLayout .storyWrap .left {
  border: none;
  position: absolute;
  width: calc(50% - 40px);
  height: 100%;
}
.wrap #main #glassStroy .halfLayout .storyWrap .left h3 {
  position: absolute;
  top: -40px;
  font-size: 22px;
  font-weight: 600;
}
.wrap #main #glassStroy .halfLayout .storyWrap .left .img {
  width: 100%;
  height: 100%;
}
.wrap #main #glassStroy .halfLayout .storyWrap .left .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrap #main #glassStroy .halfLayout .storyWrap .left::before {
  content: "";
  border-top: 70px solid transparent;
  border-right: 70px solid #f8f8f8;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right {
  position: absolute;
  right: 0;
  width: calc(50% - 40px);
  height: 100%;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right h3 {
  position: absolute;
  top: -40px;
  font-size: clamp(18px, 2vw, 22px);
  font-weight: 600;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul {
  display: block;
  width: 100%;
  height: 100%;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 {
  width: 100%;
  height: 20%;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul {
  display: flex;
  width: 100%;
  height: 100%;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: calc(33.33% - 13.5px);
  height: 100%;
  background-color: #fff;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li:nth-child(1) {
  position: relative;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li:nth-child(1) p {
  font-size: 17px;
  color: #666;
  font-weight: 300;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li:nth-child(1) .lr {
  display: flex;
  align-items: center;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li:nth-child(1) .lr h2 {
  font-size: clamp(28px, 3vw, 34px);
  color: #396cdb;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li:nth-child(1) .lr p {
  margin-left: 5px;
  margin-top: 10px;
  font-size: 14px;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  background: #396cdb;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li:nth-child(2) {
  margin-left: 20px;
  position: relative;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li:nth-child(2) p {
  font-size: 17px;
  color: #666;
  font-weight: 300;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li:nth-child(2) .lr {
  display: flex;
  align-items: center;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li:nth-child(2) .lr h2 {
  font-size: clamp(28px, 3vw, 34px);
  color: #396cdb;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li:nth-child(2) .lr p {
  margin-left: 5px;
  margin-top: 10px;
  font-size: 14px;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  background: #396cdb;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li:nth-child(3) {
  position: relative;
  margin-left: 20px;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li:nth-child(3) p {
  font-size: 17px;
  color: #666;
  font-weight: 300;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li:nth-child(3) .lr {
  display: flex;
  align-items: center;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li:nth-child(3) .lr h2 {
  font-size: clamp(28px, 3vw, 34px);
  color: #666;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li:nth-child(3) .lr p {
  margin-left: 5px;
  margin-top: 10px;
  font-size: 14px;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box01 > ul > li:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  background: #666;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box02 {
  margin-top: 20px;
  width: 100%;
  height: calc(40% - 20px);
  background-color: #fff;
  position: relative;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box02::after {
  content: "";
  border-top: 40px solid transparent;
  border-right: 40px solid rgb(248, 248, 248);
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 100;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box02 .lr {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box02 .lr li .l50 li:nth-child(1) {
  width: 50px;
  height: 26px;
  border: 1px solid #ddd;
  border-radius: 15px;
  position: relative;
  font-size: 14px;
  color: #999;
  font-weight: 300;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box02 .lr li .l50 li:nth-child(1) p {
  margin-top: 3.5px;
  color: #999;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-32%);
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box02 .lr li .l50 li:nth-child(2) {
  margin-top: 15px;
  font-size: clamp(18px, 1vw, 20px);
  color: #666;
  word-break: keep-all;
  font-weight: 300;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box02 .lr li .l50 li:nth-child(3) {
  margin-top: 20px;
  font-size: 16px;
  color: #999;
  font-weight: 300;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box02 .r50 {
  padding: 30px 40px 55px 40px;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box02 .r50 li {
  position: relative;
  width: 66px;
  height: 66px;
  border: 1px solid #ddd;
  border-radius: 40px;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box02 .r50 li p {
  top: 17%;
  left: 50%;
  transform: translateX(-48%);
  font-size: 36px;
  font-weight: "Poppins";
  color: #999;
  position: absolute;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box02 .r50 li::after {
  color: #ccc;
  width: 100%;
  content: "D-DAY";
  position: absolute;
  bottom: -25px;
  left: 50%;
  font-size: 14px;
  transform: translateX(-30%);
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box03 {
  margin-top: 20px;
  width: 100%;
  height: calc(40% - 20px);
  background-color: #fff;
  position: absolute;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box03::after {
  content: "";
  border-top: 40px solid transparent;
  border-right: 40px solid rgb(248, 248, 248);
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 100;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box03 .lr {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box03 .lr li .l50 li:nth-child(1) {
  width: 50px;
  height: 26px;
  border: 1px solid #ddd;
  border-radius: 15px;
  position: relative;
  font-size: 14px;
  color: #999;
  font-weight: 300;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box03 .lr li .l50 li:nth-child(1) p {
  margin-top: 3.5px;
  color: #999;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-40%);
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box03 .lr li .l50 li:nth-child(2) {
  margin-top: 15px;
  font-size: clamp(18px, 1vw, 20px);
  color: #666;
  font-weight: 300;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box03 .lr li .l50 li:nth-child(3) {
  margin-top: 20px;
  font-size: 16px;
  color: #999;
  font-weight: 300;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box03 .r50 {
  padding: 30px 40px 55px 40px;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box03 .r50 li {
  position: relative;
  width: 66px;
  height: 66px;
  border: 1px solid #ddd;
  border-radius: 40px;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box03 .r50 li p {
  top: 17%;
  left: 50%;
  transform: translateX(-48%);
  font-size: 36px;
  font-weight: "Poppins";
  color: #999;
  position: absolute;
}
.wrap #main #glassStroy .halfLayout .storyWrap .right ul .box03 .r50 li::after {
  color: #ccc;
  width: 100%;
  content: "D-DAY";
  position: absolute;
  bottom: -25px;
  left: 50%;
  font-size: 14px;
  transform: translateX(-30%);
}
.wrap #main #footer {
  background-color: #282828;
  color: #fff;
}
.wrap #main #footer #connect {
  font-family: "Poppins";
}
.wrap #main #footer #connect .tit {
  margin: 80px 0 0 100px;
  float: left;
}
.wrap #main #footer #connect .tit h2 {
  font-size: clamp(50px, 4.6vw, 90px);
}
.wrap #main #footer #connect .plan {
  float: left;
  margin: 100px 0 0 100px;
}
.wrap #main #footer #connect .plan .consulting span {
  font-size: 18px;
  font-weight: 300;
  opacity: 0.8;
}
.wrap #main #footer #connect .plan .consulting h2 {
  margin-top: clamp(15px, 2vw, 20px);
  font-size: clamp(22px, 3vw, 24px);
  font-weight: 400;
}
.wrap #main #footer #connect .plan .product {
  margin-top: 50px;
}
.wrap #main #footer #connect .plan .product span {
  font-size: 18px;
  font-weight: 300;
  opacity: 0.8;
}
.wrap #main #footer #connect .plan .product h2 {
  margin-top: clamp(15px, 2vw, 20px);
  font-size: clamp(22px, 3vw, 24px);
  font-weight: 400;
}
.wrap #main #footer #connect .plan .downLoad {
  margin-top: 70px;
  width: 320px;
  height: 80px;
  background-color: #1a4299;
  position: relative;
}
.wrap #main #footer #connect .plan .downLoad a {
  font-size: 16px;
  color: #fff;
  margin-right: 100px;
}
.wrap #main #footer #connect .plan .downLoad span {
  top: 0;
  right: 0;
  z-index: 2;
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #14357d;
}
.wrap #main #footer #connect .plan .downLoad span::after {
  width: 15px;
  height: 15px;
  top: 40%;
  left: 44%;
  z-index: 2;
  right: 0;
  content: "";
  position: absolute;
  background: url("../images/main/download.png") no-repeat;
}
.wrap #main #footer #connect .row .footerText {
  position: relative;
  margin: 100px 100px 0 100px;
}
.wrap #main #footer #connect .row .footerText > ul {
  position: relative;
  display: flex;
}
.wrap #main #footer #connect .row .footerText > ul li {
  margin-top: 30px;
  position: relative;
  opacity: 0.7;
  margin-right: 40px;
}
.wrap #main #footer #connect .row .footerText > ul li::after {
  margin-left: 20px;
  content: "";
  width: 1px;
  height: 80%;
  position: absolute;
  background-color: #fff;
  opacity: 0.4;
}
.wrap #main #footer #connect .row .footerText > ul li:nth-child(4)::after {
  display: none;
}
.wrap #main #footer #connect .row .footerText > ul::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  opacity: 0.1;
  position: absolute;
  margin-bottom: 20px;
}
.wrap #main #footer #connect .row .footerText .personal {
  margin-top: 20px;
}
.wrap #main #footer #connect .row .footerText .personal h2 {
  float: left;
}
.wrap #main #footer #connect .row .footerText .personal > ul {
  display: flex;
  float: left;
  margin: 10px 0 0 40px;
  font-size: 16px;
  opacity: 0.7;
}
.wrap #main #footer #connect .row .footerText .personal > ul > li {
  margin-right: 40px;
  position: relative;
}
.wrap #main #footer #connect .row .footerText .personal > ul > li:nth-child(1)::after {
  margin-left: 20px;
  content: "";
  width: 1px;
  height: 80%;
  position: absolute;
  background-color: #fff;
  opacity: 0.4;
}
.wrap #main #footer #connect .row .footerText .personal > ul ul {
  margin-top: 30px;
  position: absolute;
}
.wrap #main #footer #connect .row .footerText .personal > ul ul li {
  clear: both;
}
.wrap #main #footer #connect .row .footerText .family {
  padding-right: 150px;
  position: absolute;
  right: 0;
  top: 30px;
  width: 320px;
  height: 80px;
  float: right;
  border: 1px solid #666;
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
}
.wrap #main #footer #connect .row .footerText .family span {
  width: 80px;
  width: 80px;
}
.wrap #main #footer #connect .row .footerText .family span::after {
  position: absolute;
  right: 30px;
  content: "";
  width: 19px;
  height: 19px;
  background: url("../images/main/plus.png");
}
.wrap .leftSpace {
  width: 100px;
  height: 100%;
  position: relative;
}
.wrap .leftSpace .pagination {
  width: 1px;
  height: 180px;
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
  left: 50%;
  z-index: 11;
  background: #ddd;
}
.wrap .leftSpace .pagination .swiper-pagination-progressbar-fill {
  background: #548de3;
}
.wrap .leftSpace .pagination::before {
  content: "SCROLL DOWN";
  color: #999;
  font-size: 13px;
  margin-top: -130px;
  right: -6px;
  position: absolute;
  font-weight: 400;
  font-family: "Poppins";
  writing-mode: vertical-rl;
  animation: scrollAnimation 1s ease-in-out infinite alternate;
}
.wrap .rightSpace {
  width: 100px;
  height: 100%;
  position: absolute;
  right: 0;
}
.wrap .rightSpace .quickMenu ul {
  width: 100px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
.wrap .rightSpace .quickMenu ul li {
  text-align: center;
  display: block;
  margin-bottom: 40px;
}
.wrap .rightSpace .quickMenu ul li a {
  display: block;
}
.wrap .rightSpace .quickMenu ul li a img {
  display: inline-block;
}
.wrap .rightSpace .quickMenu ul li a span {
  margin-top: 10px;
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: #999;
}
.wrap .rightSpace .quickMenu ul li a span:hover {
  color: #1a4299;
}

@media all and (max-width: 1850px) {
  .wrap #main #businessArea .list li .inner {
    bottom: 120px;
  }
  .wrap #main #businessArea .list li .inner h2 {
    position: absolute;
  }
  .wrap #main #businessArea .list li .inner h2::before {
    bottom: -12px;
  }
  .wrap #main #businessArea .list li .inner p {
    margin-top: 70px;
    padding-left: 0;
  }
  .wrap #main #productArea .list li .inner {
    bottom: 120px;
  }
  .wrap #main #productArea .list li .inner h2 {
    position: absolute;
  }
  .wrap #main #productArea .list li .inner h2::before {
    bottom: -12px;
  }
  .wrap #main #productArea .list li .inner p {
    margin-top: 70px;
    padding-left: 0;
  }
}
@media all and (max-width: 1260px) {
  .wrap #main {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding-top: 100px;
  }
  .wrap #main #businessArea .list li .inner {
    width: 100%;
    height: 100%;
    right: 0;
    left: 100px;
    bottom: 0;
    top: clamp(44%, 2vw, 50%);
    transform: translateY(-5%);
  }
  .wrap #main #productArea .list li .inner {
    width: 100%;
    height: 100%;
    right: 0;
    left: 100px;
    bottom: 0;
    top: 50%;
    transform: translateY(-5%);
  }
  .wrap #main #glassStroy .halfLayout .storyWrap .left {
    display: none;
  }
  .wrap #main #glassStroy .halfLayout .storyWrap .right {
    width: 100%;
  }
  .wrap #main #glassStroy .halfLayout .storyWrap .right h3 {
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
  .wrap #main #footer #connect .row .footerText .family {
    display: none;
  }
  .wrap .leftSpace .pagination {
    margin-top: 60px;
    height: 150px;
  }
  .wrap .leftSpace .pagination::before {
    color: #fff;
    margin-top: -120px;
  }
  .wrap .rightSpace {
    display: none;
  }
}
@media all and (max-width: 1000px) {
  .wrap #main #footer #connect .tit {
    float: none;
  }
  .wrap #main #footer #connect .plan {
    margin: 50px 0 0 100px;
    position: relative;
  }
  .wrap #main #footer #connect .plan .product {
    width: 100%;
    margin-top: 0;
    top: 0;
    left: clamp(160px, 10vw, 200px);
    position: absolute;
  }
  .wrap #main #footer #connect .plan .downLoad {
    margin-top: clamp(20px, 3vw, 50px) !important;
    width: 260px;
    height: 68px;
  }
  .wrap #main #footer #connect .plan .downLoad a {
    font-size: 15px;
    margin-right: 90px;
  }
  .wrap #main #footer #connect .plan .downLoad span {
    width: 68px;
    height: 68px;
  }
  .wrap #main #footer #connect .plan .downLoad span::after {
    left: 42%;
  }
  .wrap #main #footer #connect .row .footerText .personal h2 {
    float: none;
  }
  .wrap #main #footer #connect .row .footerText .personal > ul {
    margin: 20px 0 0 0px;
  }
  .wrap #main #footer #connect .row .footerText .personal > ul li:nth-child(1)::after {
    display: none;
  }
  .wrap #main #footer #connect .row .footerText .personal > ul ul li {
    margin-top: 10px;
  }
}
@media all and (max-width: 720px) {
  .section::after {
    border-top: 0;
  }
  .wrap #main #businessArea .titTxt {
    margin: 60px 0 0 30px;
  }
  .wrap #main #businessArea .titTxt p {
    word-break: break-all;
  }
  .wrap #main #businessArea .list li .inner {
    left: 30px;
  }
  .wrap #main #businessArea .list li .inner p {
    margin-top: 50px;
    padding-right: 50px;
    word-break: break-all;
    text-align: left;
  }
  .wrap #main #businessArea .bullets .areabtns {
    left: 30px;
  }
  .wrap #main #businessArea .bullets .areabtns .swiper-pagination-bullet {
    width: clamp(50px, 12vw, 120px);
    height: clamp(50px, 12vw, 120px);
  }
  .wrap #main #businessArea .bullets .areabtns .swiper-pagination-bullet strong {
    top: 65px;
    font-size: 15px;
  }
  .wrap #main #productArea .titTxt {
    margin: 60px 0 0 30px;
  }
  .wrap #main #productArea .titTxt p {
    margin-right: 30px;
    word-break: break-all;
  }
  .wrap #main #productArea .list li .inner {
    top: 55%;
    left: 30px;
  }
  .wrap #main #productArea .list li .inner p {
    margin-top: 50px;
    padding-right: 50px;
    word-break: break-all;
    text-align: left;
  }
  .wrap #main #productArea .bullets .areabtns {
    bottom: clamp(150px, 10vw, 250px);
    left: 30px;
  }
  .wrap #main #productArea .bullets .areabtns .swiper-pagination-bullet {
    width: clamp(50px, 12vw, 120px);
    height: clamp(50px, 12vw, 120px);
  }
  .wrap #main #productArea .bullets .areabtns .swiper-pagination-bullet strong {
    top: 65px;
    font-size: 15px;
  }
  .wrap #main #glassStroy .halfLayout {
    width: calc(100% - 60px);
    height: calc(100% - 250px);
  }
  .wrap #main #glassStroy .halfLayout .storyWrap .right ul .box02 .lr {
    padding-left: 30px;
  }
  .wrap #main #glassStroy .halfLayout .storyWrap .right ul .box02 .lr li .l50 li {
    margin-right: 5px;
  }
  .wrap #main #glassStroy .halfLayout .storyWrap .right ul .box02 .lr li .l50 li:nth-child(1) {
    display: none;
  }
  .wrap #main #glassStroy .halfLayout .storyWrap .right ul .box02 .lr li .l50 li:nth-child(2) {
    margin-top: 0;
    line-height: 1.3;
  }
  .wrap #main #glassStroy .halfLayout .storyWrap .right ul .box02 .lr li .l50 li:nth-child(3) {
    margin-top: 10px;
  }
  .wrap #main #glassStroy .halfLayout .storyWrap .right ul .box02 .r50 li {
    display: none;
  }
  .wrap #main #glassStroy .halfLayout .storyWrap .right ul .box03 .lr {
    padding-left: 30px;
  }
  .wrap #main #glassStroy .halfLayout .storyWrap .right ul .box03 .lr li .l50 li:nth-child(1) {
    display: none;
  }
  .wrap #main #glassStroy .halfLayout .storyWrap .right ul .box03 .lr li .l50 li:nth-child(2) {
    margin-top: 0;
    line-height: 1.3;
  }
  .wrap #main #glassStroy .halfLayout .storyWrap .right ul .box03 .lr li .l50 li:nth-child(3) {
    margin-top: 10px;
  }
  .wrap #main #glassStroy .halfLayout .storyWrap .right ul .box03 .r50 li {
    display: none;
  }
  .wrap #main #glassStroy .textArea {
    padding-top: 60px;
  }
  .wrap #main #footer #connect .tit {
    margin: 60px 0 0 30px;
  }
  .wrap #main #footer #connect .plan {
    margin-left: 30px;
    margin-top: clamp(30px, 2vw, 40px);
  }
  .wrap #main #footer #connect .row .footerText {
    margin: 40px 0 0 30px;
  }
  .wrap #main #footer #connect .row .footerText > ul {
    margin-right: 10px;
    flex-wrap: wrap;
  }
  .wrap #main #footer #connect .row .footerText > ul::before {
    top: -10px;
  }
  .wrap #main #footer #connect .row .footerText > ul li {
    margin-top: 10px;
    font-size: 14px;
  }
  .wrap #main #footer #connect .row .footerText .personal h2 img {
    width: 120px;
  }
  .wrap #main #footer #connect .row .footerText .personal > ul {
    margin-right: 30px;
    display: block;
  }
  .wrap #main #footer #connect .row .footerText .personal > ul li {
    font-size: 14px;
    line-height: 1.3;
    width: 100%;
  }
  .wrap #main #footer #connect .row .footerText .personal > ul ul {
    margin-top: 0px;
    font-size: 14px;
  }
}
@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes backgroundAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}