.clearfix:before,
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.wrap {
  position: relative;
}
.wrap .container {
  width: 100%;
}
.wrap .container #main {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10;
}
.wrap .container #main #home .title {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.wrap .container #main #home .title h2 {
  font-size: 106px;
  font-family: "Play";
  font-weight: 600;
}
.wrap .container #main #home .title .t2 {
  font-size: 87px;
  color: #e96550;
}
.wrap .container #main #home .title .t1 {
  color: transparent;
  -webkit-text-stroke-color: #e96550;
  -webkit-text-stroke-width: thin;
}
.wrap .container #main #About {
  font-family: "Noto Sans KR";
}
.wrap .container #main #About .page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .container #main #About .page .txtFirst {
  margin-right: 129px;
  margin-bottom: 250px;
}
.wrap .container #main #About .page .txtSeond {
  margin-top: 150px;
  margin-right: 129px;
}
.wrap .container #main #About .page .txtFirst .l50,
.wrap .container #main #About .page .txtSeond .l50 {
  font-size: 18px !important;
  opacity: 0.4;
}
.wrap .container #main #About .page .txtFirst h2,
.wrap .container #main #About .page .txtSeond h2 {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
}
.wrap .container #main #About .page .txtFirst p,
.wrap .container #main #About .page .txtSeond p {
  color: #111;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.4;
}
.wrap .container #main #About .page .txtFirst .innerTxt,
.wrap .container #main #About .page .txtSeond .innerTxt {
  margin-top: 60px;
  position: relative;
  padding-left: 30px;
}
.wrap .container #main #About .page .txtFirst .innerTxt::before,
.wrap .container #main #About .page .txtSeond .innerTxt::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  background: #111;
  left: 0;
}