@import "vars";
@import "mixin";
* {
  box-sizing: border-box;
}
button {
  background: none;
  border: none;
  outline: none;
}
body {
  font-family: "Noto Sans KR", "Play", sans-serif;
  word-break: keep-all;
}
a {
  color: inherit;
  text-decoration: none;
}
.wrap {
  position: relative;
  #header {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    padding-top: 60px;
    width: 100%;
    .inner {
      max-width: 1660px;
      margin: 0 auto;
      padding: 0 30px;
      .top {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .tag {
          a {
            img {
              width: 36px;
            }
          }
        }
        .location {
          transform: translate3d(0px, -14%, 0);
          .swiper-pagination-bullet {
            width: 0;

            margin-bottom: 20px;
            .tooltip {
              font-size: 17px;
              font-family: "Play";
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  #bottom {
    bottom: 0;
    // left: 0;
    position: fixed;
    z-index: 999;
    // padding-bottom: 60px;
    width: 100%;
    .content {
      max-width: 1660px;
      padding: 0 30px;
      margin: 0 auto;
      position: relative;
      display: flex;
      .name {
        padding-bottom: 60px;
        h2 {
          font-size: 17px;
          font-family: "Play";
          font-weight: 600;
        }
      }
      .arrow {
        position: absolute;
        left: 50.05%;
        transform: translateX(-50%);
        bottom: 60px;
      }
      .pagination {
        position: absolute;
        right: 30px;
        bottom: 60px;
        .navi {
          font-size: 24px;
          font-family: "Play";
          .swiper-pagination-current {
            font-weight: 600;
            padding-right: 10px;
          }
          .swiper-pagination-total {
            padding-left: 10px;
            color: #666;
            font-weight: 600;
          }
        }
      }
    }
  }
  .container {
    height: 100%;
    position: fixed;
    .bg {
      z-index: -1;
      background: #fff url("../images/line.png") top center no-repeat;
      background-size: 1600px 100vh;
      background-attachment: fixed;
      width: 100vw;
      height: 100vh;
      position: fixed;

      .rotate {
        top: 50%;
        left: 50%;
        position: absolute;
        will-change: transform;
        transform: translate(-50%, -50%) rotate(0);
        transform-origin: center;
        width: 850px;
        height: 850px;
        animation: rotatebg 25s linear infinite;
        span {
          display: flex;
          width: 700px;
          height: 700px;
          justify-content: center;
          will-change: transform;
          transform-origin: center;
          transition: filter 0.25s cubic-bezier(0.48, 0.04, 0.22, 0.99), -webkit-transform 0.25s cubic-bezier(0.48, 0.04, 0.22, 0.99);
          filter: blur(4.5rem);
          position: absolute;
        }
        .bgimg-01 {
          left: 50%;
          top: 0;
          transform: translateX(-50%) rotate(50deg);
          animation: rotatebox01 18s linear infinite;
        }

        .bgimg-02 {
          transform: rotate(40deg);
          left: 0;
          bottom: 0;
          animation: rotatebox02 18s linear infinite 1s;
          opacity: 0.8;
        }

        .bgimg-03 {
          right: 0;
          bottom: 0;
          transform: rotate(80deg);
          animation: rotatebox03 18s linear infinite 0.5s;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
@keyframes rotatebg {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes rotatebox01 {
  0% {
    transform: translateX(-50%) rotate(50deg);
  }
  100% {
    transform: translateX(-50%) rotate(410deg);
  }
}
@keyframes rotatebox02 {
  0% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(400deg);
  }
}
@keyframes rotatebox03 {
  0% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(-280deg);
  }
}
