@import "vars";
@import "mixin";
.clearfix:before,
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
// .section {
//   width: 100%;
//   height: 100%;
//   position: relative;
//   overflow: hidden;
// }
.wrap {
  position: relative;
  .container {
    width: 100%;
    #main {
      position: absolute;
      width: 100%;
      height: 100vh;
      z-index: 10;

      #home {
        .title {
          height: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          h2 {
            font-size: 106px;
            font-family: "Play";
            font-weight: 600;
          }
          .t2 {
            font-size: 87px;
            color: $main-color;
          }
          .t1 {
            color: transparent;
            -webkit-text-stroke-color: $main-color;
            -webkit-text-stroke-width: thin;
          }
        }
      }
      #About {
        font-family: "Noto Sans KR";
        .page {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .txtFirst {
            margin-right: 129px;
            margin-bottom: 250px;
          }
          .txtSeond {
            margin-top: 150px;
            margin-right: 129px;
          }
          .txtFirst,
          .txtSeond {
            .l50 {
              font-size: 18px !important;
              opacity: 0.4;
            }
            h2 {
              display: inline-block;
              font-size: 22px;
              font-weight: 600;
            }
            p {
              color: #111;
              margin-top: 20px;
              font-size: 16px;
              line-height: 1.4;
            }
            .innerTxt {
              margin-top: 60px;
              position: relative;
              padding-left: 30px;

              &::before {
                content: "";
                width: 1px;
                height: 100%;
                position: absolute;
                background: #111;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}
